@import "@fontsource/cormorant";
@import "@fontsource/libre-franklin";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium not-italic leading-loose bg-light-gray font-family-body;
    font-size: 18px;
  }
  h1 {
    @apply font-semibold font-family-headline;
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    @apply font-semibold font-family-headline;
    font-size: 24px;
    line-height: 29px;
  }
  h3 {
    @apply font-semibold font-family-headline;
    font-size: 18px;
    line-height: 22px;
  }
  a {
    @apply font-family-headline;
    font-size: 18px;
    line-height: 22px;
  }
}

.body-text-large {
  @apply leading-relaxed;
  font-size: 24px;
}

.body-text-small {
  @apply leading-normal;
  font-size: 16px;
}

.highlight {
  @apply w-full max-w-max px-4 -ml-4;
  background: linear-gradient(rgba(255,255,255,0) 30%, #29CAB47F 30%);
}

.hover-trigger {
  @apply bg-none;
}

.hover-trigger:hover {
  @apply text-accent-1;
}

.hover-trigger .hover-target {
  @apply hidden;
}

.hover-trigger:hover .hover-target {
  @apply flex z-10;
}

.hover-target li:hover {
  @apply text-accent-1;
}

.indent {
  text-indent: 2em;
}

nav li.submenu-item {
  min-width: 130px;
}

.font-family-body {
  font-family: 'Cormorant';
}

.font-family-headline {
  font-family: 'Libre Franklin';
}
