@import "@fontsource/cormorant";
@import "@fontsource/libre-franklin";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium not-italic;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Cormorant';
  }
  h1 {
    @apply font-semibold;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Libre Franklin';
  }
  h2 {
    @apply font-semibold;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Libre Franklin';
  }
  h3 {
    @apply font-semibold;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Libre Franklin';
  }
  a {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Libre Franklin';
  }
}

.body-text-large {
  font-size: 24px;
  line-height: 29px;
}
