@import "@fontsource/cormorant";
@import "@fontsource/libre-franklin";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium not-italic;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Cormorant';
  }
  h1 {
    @apply font-semibold;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Libre Franklin';
  }
  h2 {
    @apply font-semibold;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Libre Franklin';
  }
  h3 {
    @apply font-semibold;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Libre Franklin';
  }
  a {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Libre Franklin';
  }
}

.body-text-large {
  font-size: 24px;
  line-height: 29px;
}

.highlight {
  @apply w-max px-4 -ml-4;
  background: linear-gradient(rgba(255,255,255,0) 30%, #29CAB47F 30%);
}

.hover-trigger {
  @apply bg-none text-dark-gray;
}

.hover-trigger:hover {
  @apply bg-accent-1 text-white;
}

.hover-trigger .hover-target {
  @apply hidden
}

.hover-trigger:hover .hover-target {
  @apply flex
}
